@model Folio.ViewModels.MonteCarlo.MonteCarloViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Monte Carlo Simulation</h2>

<form asp-controller="MonteCarlo" asp-action="GatherRequiredInformation" method="post" class="form-horizontal" role="form">
<div class="form-group">
    <label asp-for="PreferredRetirementAge" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="PreferredRetirementAge" class="form-control" />
        <span asp-validation-for="PreferredRetirementAge" class="text-danger"></span>
    </div>
    <label asp-for="AnnualContribution" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="AnnualContribution" class="form-control" />
        <span asp-validation-for="AnnualContribution" class="text-danger"></span>
    </div>
    <label asp-for="EstimatedRetirementSpan" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="EstimatedRetirementSpan" class="form-control" />
        <span asp-validation-for="EstimatedRetirementSpan" class="text-danger"></span>
    </div>
    <label asp-for="AnnualRetirementIncomeDraw" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="AnnualRetirementIncomeDraw" class="form-control" />
        <span asp-validation-for="AnnualRetirementIncomeDraw" class="text-danger"></span>
    </div>
</div>
</form>

<!-- This is the Chart Code-->
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Age', 'Net Worth'],
          ['26',  1000],
          ['27',  1170],
          ['28',  1300],
          ['29',  1600]
        ]);

        var options = {
          title: 'Portfolio Simulation',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>
</html>

@*<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Mon', 28, 28, 38, 38],
          ['Tue', 38, 38, 55, 55],
          ['Wed', 55, 55, 77, 77],
          ['Thu', 77, 77, 66, 66],
          ['Fri', 66, 66, 22, 22]
          // Treat the first row as data.
        ], true);

        var options = {
          legend: 'none',
          bar: { groupWidth: '100%' }, // Remove space between bars.
          candlestick: {
            fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
            risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
          }
        };

        var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
</html>*@
