@model Folio.ViewModels.MonteCarlo.MonteCarloViewModel

@{
    ViewData["Title"] = "Index";
}

<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Age', 'Net Worth'],
          ['26', 1000],
          ['27', 1170],
          ['28', 1300],
          ['29', 1600]
        ]);

        var options = {
            title: 'Portfolio Simulation',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }
</script>

<h2>Monte Carlo Simulation</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-controller="MonteCarlo" asp-action="Index" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AnnualContribution" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="AnnualContribution" class="form-control" />
                    <span asp-validation-for="AnnualContribution" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PreferredRetirementAge" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PreferredRetirementAge" class="form-control" />
                    <span asp-validation-for="PreferredRetirementAge" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedRetirementSpan" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EstimatedRetirementSpan" class="form-control" />
                    <span asp-validation-for="EstimatedRetirementSpan" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AnnualRetirementIncomeDraw" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="AnnualRetirementIncomeDraw" class="form-control" />
                    <span asp-validation-for="AnnualRetirementIncomeDraw" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<hr/>

<div id="curve_chart" style="width: 900px; height: 500px"></div>
