@model Folio.ViewModels.AddStockToPortfolioViewModel

@{
    ViewData["Title"] = "Add Stock to Portfolio";
}

<h2>Add a Stock to: <strong>@Model.Portfolio.Name</strong></h2>
<a href="#" class="portfolio-button">Change Portfolio</a>
<hr />
<p>Search for a stock ticker below to add it.</p>
<form id="search-stock">
    <div>
        @Html.TextBox("ticker", "", new { id = "stock-input" } )
        <a href="#" class="portfolio-button">Add Stock</a>
    </div>
</form>