@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Message"]</h3>
<p>Aaron DeSanctis - UI Designer</p>
<p>Alex Morask - Back End Designer</p>
<p>Chad Hilke - UI Designer</p>
<p>Chris Hoelter - Project Lead</p>
<p>Josh Oliver - UI Designer</p>
<p>Matt Heller - Back End Designer</p>
<p>Robert Moon - Back End Designer</p>