@{
    ViewData["Title"] = "Contact";
}
<h3>Location:</h3>
<address>
    333 Plankington Rd.<br />
    Milwaukee, WI<br />
</address>
<h3>Created By:</h3>
<address>
    <strong>Aaron DeSanctis - UI Designer:</strong> <a href="mailto:Vada_Overlord@hotmail.com">Email Aaron DeSanctis</a><br />
</address>
<address>
    <strong>Alex Morask - Back End Designer:</strong> <a href="mailto:Support@example.com">Email Alex Morask</a><br />
</address>
<address>
    <strong>Chad Hilke - UI Designer:</strong> <a href="mailto:Support@example.com">Email Chad Hilke</a><br />
</address>
<address>
    <strong>Chris Hoelter - Project Lead:</strong> <a href="mailto:Support@example.com">Email Chris Hoelter</a><br />
</address>
<address>
    <strong>Josh Oliver - UI Designer:</strong> <a href="mailto:Support@example.com">Email Josh Oliver</a><br />
</address>
<address>
    <strong>Matt Heller - Back End Designer:</strong> <a href="mailto:Support@example.com">Email Matt Heller</a><br />
</address>
<address>
    <strong>Robert Moon - Back End Designer:</strong> <a href="mailto:Support@example.com">Email Robert Moon</a><br />
</address>