@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "[Folio]";
}

<html lang="en">
<head>
    <script src="~/lib/Chart.js/Chart.min.js"></script>
</head>

<body>
    <div class="index-title"> 
        <h1 class="darkgray">[Folio] - Professinal Portfolio Management</h1>
    </div>
    <div class="table-title">
        <h2 class="red">Live Stocks</h2>
    </div>
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Symbol</th>
                <th class="text-left">Name</th>
                <th class="text-left">Price</th>
                <th class="text-left">Change</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr class="row1">
                <td id="ticker"class="text-left">Symbol</td>
                <td id="name" class="text-left">Name</td>
                <td id="price"class="text-left">Price</td>
                <td id="change"class="text-left">Change</td>
            </tr>
            <tr class="row2">
                <td id="ticker1" class="text-left">Symbol</td>
                <td id="name1" class="text-left">Name</td>
                <td id="price1" class="text-left">Price</td>
                <td id="change1" class="text-left">Change</td>
            </tr>
        </tbody>
    </table>
    <p>
        <div>
            <canvas id="myChart" width="1000" height="600"></canvas>
        </div>
    </p>
</body>
</html>
<script>
    var sym = "^IXIC, ^NYA";
    var data = {
        labels: [],
        datasets: [
            {
                label: "IXIC",
                fillColor: "rgba(215, 0, 255, 0.5)",
                strokeColor: "rgba(215, 0, 255, 0.9)",
                pointColor: "rgba(215, 0, 255, 0.9)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: []
            },
            {
                label: "^NYA",
                fillColor: "rgba(122, 175, 197, 0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(122, 175, 197, 0.9)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: []
            },
        ]
    };
    var ctx = document.getElementById("myChart").getContext("2d");
    ctx.textAlign = "center";
    var myNewChart = new Chart(ctx).Line(data);
    new Chart(ctx).Line(data);
    var yolo = "whatever";
    var date = new Date();
    var hours = date.getHours();
    function getData(sym) {
        var url = "https://query.yahooapis.com/v1/public/yql";
        var symbol = sym;
        var data = encodeURIComponent("select * from yahoo.finance.quotes where symbol in ('" + symbol + "')");

        $.getJSON(url, 'q=' + data + "&format=json&diagnostics=true&env=http://datatables.org/alltables.env")
            .done(function (data) {
                yolo = data;
                console.log(yolo);
                if (yolo.query.results.quote.LastTradePriceOnly !== $("#price").text() || yolo.query.results.quote[0].LastTradePriceOnly == null) {
                    $("#price").fadeOut(function () {
                        $(this).text(yolo.query.results.quote[0].LastTradePriceOnly)
                    }).fadeIn();
                    $("#change").fadeOut(function () {
                        $(this).text(yolo.query.results.quote[0].PercentChange)
                    }).fadeIn();
                    $("#name").fadeOut(function () {
                        $(this).text(yolo.query.results.quote[0].Name)
                    }).fadeIn();
                    $("#ticker").fadeOut(function () {
                        $(this).text(yolo.query.results.quote[0].symbol)
                    }).fadeIn();
                }
                if (yolo.query.results.quote.LastTradePriceOnly !== $("#price1").text() || yolo.query.results.quote[1].LastTradePriceOnly == null) {
                    $("#price1").fadeOut(function () {
                        $(this).text(yolo.query.results.quote[1].LastTradePriceOnly)
                    }).fadeIn();
                    $("#change1").fadeOut(function () {
                        $(this).text(yolo.query.results.quote[1].PercentChange)
                    }).fadeIn();
                    $("#name1").fadeOut(function () {
                        $(this).text(yolo.query.results.quote[1].Name)
                    }).fadeIn();
                    $("#ticker1").fadeOut(function () {
                        $(this).text(yolo.query.results.quote[1].symbol)
                    }).fadeIn();
                    myNewChart.addData([yolo.query.results.quote[0].LastTradePriceOnly, yolo.query.results.quote[1].LastTradePriceOnly], yolo.query.results.quote[1].LastTradeTime);
                    myNewChart.update();
                }
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                $("#price").text('Request failed: ' + err);
            });
    }
    $(document).ready(function () {
        getData(sym);
    });
    if (hours < 16 && hours > 9) {
        window.setInterval(function () { getData(sym), console.log(yolo)}, 10000);
    }

    </script>