@{
    ViewData["Title"] = "News";
}

@using System.Xml.XPath;
@using System.Xml;

<div class="row">
    <div class="col-md-4">
        <h3>@ViewData["RSSTitle"]</h3>
        <ul>
            @foreach (XmlNode node in (XmlNodeList)ViewData["XMLNodeList"])
            {
                <li>
                    <div class="date">@node["pubDate"].InnerText</div>
                    <a href="@node["link"].InnerText">@node["title"].InnerText</a>
                    <p></p>
                </li>
            }
        </ul>
    </div>
</div>