
@{
    ViewData["Title"] = "News";
}

@using System.Xml.XPath;
@using System.Xml;

<div class="row">
    <div class="col-md-4">
        <h1 class="darkgray">@ViewData["RSSTitle"]</h1>
        <ul>
            @foreach (XmlNode node in (XmlNodeList)ViewData["XMLNodeList"])
            {
                <li class="red">
                    <div class="date">@node["pubDate"].InnerText</div>
                    <a href="@node["link"].InnerText">@node["title"].InnerText</a>
                    <p></p>
                </li>
            }
        </ul>
    </div>
</div>