@model XmlNodeList

@{
    ViewData["Title"] = "News";
}

@using System.Xml.XPath;
@using System.Xml;

<div class="row1">
    <div class="col-md-4" row ="row1">
        <h3>News:</h3>
        <ul>
            @foreach (XmlNode node in @Model)
                {
                    <li>
                        <div class="date">@node["pubDate"].InnerText</div>
                        <a href="@node["link"].InnerText">@node["title"].InnerText</a>
                        <p></p>
                    </li>
                }
        </ul>
    </div>
</div>
