<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - [Folio]</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
<<<<<<< HEAD
            <link rel="stylesheet" href="~/css/ticker.css" />
=======
            <link rel="stylesheet" href="~/css/table.css" />
>>>>>>> 0277481ffe5857d59943d607c10a1fbed7bf0c13
            <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
            <script src="~/js/site.js"></script>
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
        @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">[Folio]</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="News">News</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-controller="Portfolios" asp-action="Index">Portfolios</a></li>
                        }
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
                <table class="table-fill">
                    <thead>
                        <tr>
                            <th class="text-left">Ticker</th>
                            <th class="text-left">Name</th>
                            <th class="text-left">Price</th>
                            <th class="text-left">Change Percent</th>
                            <th class="text-left">Change $</th>
                            <th class="text-left">Volume</th>

                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr>
                            <td id="tickerGOOG" class="text-left">Ticker</td>
                            <td id="nameGOOG" class="text-left">Name/td>
                            <td id="priceGOOG" class="text-left">Price</td>
                            <td id="changeGOOG" class="text-left">Change</td>
                            <td id="changedGOOG" class="text-left">Changed</td>
                            <td id="volumeGOOG" class="text-left">Volume</td>
                        </tr>
                    </tbody>
                </table>
                <p class="breezy">designed by Jbree$y </p>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; [Folio] Professional Portfolio Management Software for Today's Investor</p>
            </footer>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @* Added for JQueryUI (Debug) *@
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
            <script src="//code.jquery.com/jquery-1.10.2.js"></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
<script>
    var yolo = "whatever";
    function getData(sym) {
        var url = "https://query.yahooapis.com/v1/public/yql";
        var symbol = sym;
        var data = encodeURIComponent("select * from yahoo.finance.quotes where symbol in ('" + symbol + "')");

        $.getJSON(url, 'q=' + data + "&format=json&diagnostics=true&env=http://datatables.org/alltables.env")
            .done(function (data) {
                yolo = data;
                if ("$" + yolo.query.results.quote.LastTradePriceOnly !== $("#price" + sym).text() || yolo.query.results.quote.LastTradePriceOnly == null) {
                    $("#price" + sym).fadeOut(function () {
                        $(this).text("$" + yolo.query.results.quote.LastTradePriceOnly)
                    }).fadeIn();
                    $("#change" + sym).fadeOut(function () {
                        $(this).text(yolo.query.results.quote.PercentChange)
                    }).fadeIn();
                    $("#name" + sym).fadeOut(function () {
                        $(this).text(yolo.query.results.quote.Name)
                    }).fadeIn();
                    $("#ticker" + sym).fadeOut(function () {
                        $(this).text(yolo.query.results.quote.symbol)
                    }).fadeIn();
                    $("#changed" + sym).fadeOut(function () {
                        $(this).text("$" + yolo.query.results.quote.Change)
                    }).fadeIn();
                    $("#volume" + sym).fadeOut(function () {
                        $(this).text(yolo.query.results.quote.Volume)
                    }).fadeIn();

                }
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                $("#price" + sym).text('Request failed: ' + err);
            });
    }
    getData("GOOG");
    window.setInterval(function () { getData("GOOG"), getData("YHOO"), getData("AAPL"), getData("AMZN"), getData("TWTR"), getData("FB"), getData("NFLX"), getData("MSFT")}, 5000);
</script>

